{% load static %}

  <div class="container-xxl bg-dark pt-5 px-sm-3 px-md-5 mt-5" style="height: 100%; width: 100%;" id="footer0">
    <div class="row py-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Entre em contato</h5>
            <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>Barretos, São Paulo, Brasil</p>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>blognoticias@proton.me</p>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Categorias</h5>
            <div class="m-n1">
                <a href="/categoria/ciencia" class="btn btn-sm btn-secondary m-1">Ciência</a>
                <a href="/categoria/economia" class="btn btn-sm btn-secondary m-1">Economia</a>
                <a href="/categoria/entretenimento" class="btn btn-sm btn-secondary m-1">Entretenimento</a>
                <a href="/categoria/informativo" class="btn btn-sm btn-secondary m-1">Informativo</a>
                <a href="/categoria/tecnologia" class="btn btn-sm btn-secondary m-1">Tecnologia</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
    <p class="m-0 text-center">&copy; <a href="#">BlogNotícias</a>. All Rights Reserved. 
    Design by UNIFEB, Barretos<br>
</p>
</div>

<a href="#" class="btn btn-info btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'vendor/bootstrap/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<script src="{% static 'vendor/bootstrap/js/main.js' %}"></script>
